*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Quicksand', sans-serif;
}


@media (max-width: 720px) {
    

html {
    width: 100vw;
    overflow-x: hidden;
}

    body{
/* Created with https://www.css-gradient.com */
background: #B92C6E;
background: -webkit-linear-gradient(bottom, #B92C6E, #AB31C6);
background: -moz-linear-gradient(bottom, #B92C6E, #AB31C6);
background: linear-gradient(to top, #B92C6E, #AB31C6);
    }

    .logo{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        align-items: center;
    }

    .logo h1{
        color: white;
        background-color: black;
        width: fit-content;
        padding: 2px 5px;
    }

    .logo h2{
        font-size: 2rem;
        margin-left: 0.4rem;
    }

    .weather {
        margin: 1.5rem auto;
        width: 90vw;
        height: 5rem;
        background-color: blue;
    }

    section{
        width: 90vw;
    }

    .destaques{
        display: flex;
        flex-direction: column;
        /* position: relative;
        left: 50%;
        transform: translateX(-45%); */
        margin: 0 auto;
    }

    .balaotexto{
        display: flex;
        width: 10rem;
        height: 50px;
        background-color: rgba(247, 247, 247, 0.332);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        justify-content: center;
        align-items: center;
    }

    .containerdestaques{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 94vh;
        margin: 0 auto;
        gap: 1rem;
        background-color: rgba(247, 247, 247, 0.332);
        border-radius: 20px;
        border-top-left-radius: 0;
    }

    .basicdest{
        display: flex;
        width: 82vw;
        height: 16vh;
        border-radius: 20px;
        background-color: rgba(9, 9, 9, 0.262);
        align-items: center;
    }

    .icon{
        width: 5rem;
        height: 5rem;
        min-width: 5rem;
        margin-left: 1rem;
        background-color: rgba(9, 9, 9, 0.262);
        border-radius: 20px;
    }

    .textos{
        height: 100%;
        width: 80%;
    }

    .detalhes{
        display: flex;
        flex-direction: row;
        height: 70%;
        width: 100%;
        margin: 0.7rem;
    }

    .iconesdetails{
        display: flex;
        width: 20%;
        gap: 0.3rem;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: center;
    }

    .iconesdetails svg{
        border: 2px solid black;
        border-radius: 10px;
        padding: 0.5rem;
        height: 0.8rem;
        width: 0.8rem;
    }

    .categorias{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 2rem auto;
    }

    .catbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        font-size: 2rem;
        background-color: rgba(247, 247, 247, 0.332);
        border-radius: 20px;
        border: unset;
    }




    

}
